.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  color: green;
}

tr:nth-of-type(odd) {
  background: #eee;
}

th {
  background: lightgreen;
  box-shadow: 1rem 1rem 1rem 1rem #ccc;
  background-image: linear-gradient(lightgreen, yellowgreen);
  color: white;
  font-weight: bold;
}

td,
th {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: left;
}

img {
  width: 80%;
}

.singleCountry {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
}

.table__container {
  display: flex;
  justify-content: center;
  overflow: auto;
}

.country-page__go-back {
  padding: 2rem 0;
  display: flex;
  justify-content: flex-start;
}

.country-page__details {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 5rem;
  background-color: royalblue;
  border-radius: 2em;
}

.country-page_details-left img {
  max-width: 450px;
  max-height: 300px;
}

.country-page {
  box-shadow: 0px 6px 16px rgba(165, 155, 151, 0.19) !important;
  margin: 5rem auto 0 auto;
  max-width: 1040px;
}

.header__nav button {
  color: black !important;
}

.search-box {
  color: black !important;
  background-color: #61dafb;
  box-shadow: 5rem;
  width: 30%;
  margin-top: 2em;
  margin-bottom: 5em;
  margin: auto;
}

.favorite {
  margin: auto;
  width: 30vw;
}
